body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
    width: 370px;
    background: #1E2939;
}

.cv-photo {
    margin-top: 40px;
}

.header2-left {
    color: #FFFFFF;
}

.contact {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none
}

.bold {
    font-weight: 700;
}

.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}

.tech-block {
    margin-top: 47px;
    margin-left: 40px;
}

.list2 {
    color: #FB6D3A;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.list-item {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
}

.soft-block {
    margin-top: 44px;
    margin-left: 40px;
}

main {
    padding-left: 88px;
    padding-top: 70px;
}

.introduction {
    width: 590px;
}

.job-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 50px;
    text-align: justify;
}

.courses {
    width: 590px;
    margin-bottom: 50px;
}

.list-courses {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}

.list-item-courses {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.courses-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.courses-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #595959;
}

.header2-right {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}

.job-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.highlight {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A
}

.date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.experience {
    width: 525px;
    margin-bottom: 50px;
}

.list-experience {
    padding-left: 0;
    list-style-position: inside;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #595959;
}

.education {
    width: 500px;
    margin-bottom: 70px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}